$primary-beaver: rgb(158, 127, 102);
$primary-cod-gray: rgb(17, 17, 17);
$secondary-mirage: rgb(23, 25, 43);
$secondary-ebony-clay: rgb(36, 43, 55);
$secondary-shuttle-gray: rgb(92, 103, 121);
$white: #fff;
$bg-dark: #111;